@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
	font-family: 'OpenDyslexic';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/OpenDyslexic-Regular.otf');
}
